/* Some Vendor Styles Override */
.tp-scrollbar::-webkit-scrollbar {
    background: transparent;
}

.rating-pad {border-radius:4px; cursor: pointer;}

i.fa,
i.fas {
  min-width:15px;
  margin-right:6px;
}

.container,
.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.direct-chat-messages {
  /* padding: 10px;*/
  height: 100%; 
}

.text-small {
  font-size: 90% !important;
}


/* Welcome Page Styles*/
.vh90 {
    min-height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.navbar {
  padding: 10px;
  /*padding: 15px 10px;*/
}

/** 
 * To override dashboard.css main #content in select app pages.
 */
#content-override {
    width: 100%;
    transition: all 0.3s;
    margin-left: 0px;
    margin-top: 86px;
   
}

#main-footer-override { margin-left: 0; }

#main-footer-override > .container { margin-left: 250px; }

@media (max-width: 768px) {
  #main-footer-override > .container { margin-left: 65px; }
}
@media (max-width: 480px) {
  #main-footer-override > .container { margin-left: 0px; }
}

.sub-online-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #97E965;
}
.sub-online-status.sub-online{
    background-color: rgb(91, 199, 23);
}
.sub-online-status.sub-offline{
    background-color: #fd7e14;
}

.avail-indicator,
.doc-avail-indicator {
  width: 12px;
  height: 12px; 
  border-radius:50%;
  border: 2px solid #b8b9ba;
}

.doc-avail-indicator--relative {
  position: relative;
  left:-20px;
  top:16px;
  display: inline-block;
}

.appmt-edit-form-append {
   display:inline-block;
   min-width: 70px;
}

.form-section textarea {
    border: 1px solid #302C2C;
    box-sizing: border-box;
    border-radius: 4px;
}

#header-bg  {
    margin: 0;
}

.d-header {
    background-image: url("../../../public/images/header-image.jpg")!important;
    background-size: cover !important;
    background-position: center center !important;
}

/* Parallax Scrolling effect */
#header-bg,
.parallax-scroll {
    background-image: url("../../../public/images/header-image.jpg");
    /*min-height: 100vh; */
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

.schedule-input,
.schedule-input--edit {
  display: inline-block;
}
.schedule-input {
  width: 100px;
}

.schedule-input--edit {
  width: 120px;
}

.opt-items {
  max-height: 60vh;
  overflow-y: auto;
}
.opt-item {
  padding-left: 15px;
}



/* HEADER and WRAPPER Overlap */
/* Tablets */
@media (max-width: 714px) {
  .wrapper {
    margin-top: 40px;
  }
}
/* Larger mobile */
@media (max-width: 650px) {
  .sm-float-right {
    float: right !important;
  }
  .wrapper {
    margin-top: 43px;
  }
}
/* Larger mobile */
@media (max-width: 480px) {
  .wrapper {
    margin-top: 0;
  }
}
@media (max-width: 408px) {
  .wrapper {
    margin-top: 50px;
  }
  #navbarSupportedContent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
}
/* Mobile */
@media (max-width: 375px) {
  .main-nav {
    padding: 0;
  }
  .wrapper {
    margin-top: 30px;
  }
}
/* Smaller mobile */
@media (max-width: 320px) {
  .navbar-brand {
    width: 41px;
  }
}
/* HEADER */


/* WELCOME PAGE */
.main-search-container {
  margin-bottom: 7rem;
}
.page-content {
  margin-top: -7rem;
  margin-bottom: 7rem;
}
#doc-rating {
  margin-bottom: -7rem;
}
.page-dos {
  padding: 2rem;
}
.page-dos-body {
  padding: 1rem;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: 41px;
  }
  #header {
     height: auto; 
  }
}

.info-side .doc {
  width: 70%;
}
.info-side .ratings {
  width: 30%;
}
@media (max-width: 480px) {
  .info-side .doc {
    width: 100%;
  }
  .info-side .ratings {
    width: 100%;
  }
}

.trans-box-alt {
    background: rgba(32, 161, 217, 0.904);
    height: 100%;
    border-radius: 30px;
}
.trans-box-dark {
    background: rgba(0, 0, 0, 0.704);
    height: 100%;
    border-radius: 30px;
}


.test-webpack {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
    animation-timing-function: linear;
}