.profile-img{
  height:150px;
  width:150px;
}

.empty-list {
    padding: 30px;
    border:1px solid #d9d9d9; 
    border-radius: 3px;
    margin:0 auto;
    text-align:center;
    background:#f9f9f9;
}

.short-content-bg {
  margin:0 15px;
  padding:5px;
  border:1px solid #d9d9d9;
  background:#f1f1f1;
  border-radius: 4px;
  vertical-align: middle;
}

.tf-flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 380px) {
  .tf-ss-flex {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 275px) {
  .tf-flex,
  .tf-ss-flex {
      justify-content:unset;
      flex-direction: column;
  }
}


@media (min-width: 767px) and (max-width: 1000px) {
  .tf-flex {
      justify-content:unset;
      flex-direction: column;
  }
}

.nag {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.nag-danger {
  color: #fff;
  background-color: red;
  border-color: #f5c6cb;
}