/* Some Vendor Styles Override */
::-webkit-scrollbar {
    background: transparent;
}

i.fa,
i.fas {
  min-width:15px;
  margin-right:8px;/*mr-2, 8px*/
}

.container,
.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.direct-chat-messages {
  /* padding: 10px;*/
  height: 100%; 
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}