/* Some Vendor Styles Override */
.tp-scrollbar::-webkit-scrollbar {
    background: transparent;
}

.rating-pad {border-radius:4px; cursor: pointer;}

i.fa,
i.fas {
  min-width:15px;
  margin-right:6px;
}

.container,
.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.direct-chat-messages {
  /* padding: 10px;*/
  height: 100%; 
}

.text-small {
  font-size: 90% !important;
}


/* Welcome Page Styles*/
.vh90 {
    min-height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.navbar {
  padding: 10px;
  /*padding: 15px 10px;*/
}

/** 
 * To override dashboard.css main #content in select app pages.
 */
#content-override {
    width: 100%;
    transition: all 0.3s;
    margin-left: 0px;
    margin-top: 86px;
   
}

#main-footer-override { margin-left: 0; }

#main-footer-override > .container { margin-left: 250px; }

@media (max-width: 768px) {
  #main-footer-override > .container { margin-left: 65px; }
}
@media (max-width: 480px) {
  #main-footer-override > .container { margin-left: 0px; }
}

.sub-online-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #97E965;
}
.sub-online-status.sub-online{
    background-color: rgb(91, 199, 23);
}
.sub-online-status.sub-offline{
    background-color: #fd7e14;
}

.avail-indicator,
.doc-avail-indicator {
  width: 12px;
  height: 12px; 
  border-radius:50%;
  border: 2px solid #b8b9ba;
}

.doc-avail-indicator--relative {
  position: relative;
  left:-20px;
  top:16px;
  display: inline-block;
}

.appmt-edit-form-append {
   display:inline-block;
   min-width: 70px;
}


#header{
    margin: 0;
    background-image: url();/*url(../images/header-image.jpg);*/
}

.schedule-input,
.schedule-input--edit {
  display: inline-block;
}
.schedule-input {
  width: 100px;
}

.schedule-input--edit {
  width: 120px;
}

.opt-items {
  max-height: 60vh;
  overflow-y: auto;
}
.opt-item {
  padding-left: 15px;
}