/* Some Vendor Styles Override */
.tp-scrollbar::-webkit-scrollbar {
    background: transparent;
}

.rating-pad {border-radius:4px; cursor: pointer;}

i.fa,
i.fas {
  min-width:15px;
  margin-right:6px;
}

.container,
.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.direct-chat-messages {
  /* padding: 10px;*/
  height: 100%; 
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.text-small {
  font-size: 90% !important;
}


/* Welcome Page Styles*/
.vh90 {
    min-height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}
